/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* fundo claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333333; /* Texto em um preto suave */
}

/* Formulário */
form {
    background-color: white; /* fundo branco */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 800px;
    max-width: 600px;
    border: 2px solid #FFD700; /* Borda dourada */
}

/* Títulos */
h1 {
    color: #000000; /* Preto para o título */
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Labels */
label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    color: #333333; /* Preto suave */
}

/* Inputs e Textarea */
input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ccc; /* Bordas sutis em cinza claro */
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9; /* Fundo claro para os campos */
    color: #333; /* Texto em preto */
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #FFD700; /* Dourado ao focar */
    outline: none;
}

/* Botão */
button {
    width: 100%;
    padding: 14px;
    background-color: #FFD700; /* Dourado */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #FFC107; /* Dourado mais suave para hover */
}

/* Mensagens de erro */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    border: 2px solid red;
    padding: 10px;
    border-radius: 4px;
    background-color: #f8d7da;
}

/* Mensagens de sucesso */
.success-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    border: 2px solid green;
    padding: 10px;
    border-radius: 4px;
    background-color: #d4edda;
}
