
header {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 000;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    background: rgba(82, 47, 3, 0.4);
    backdrop-filter: blur(5px);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #d7a45f;
    font-weight: bold;
    font-size: 1.4em;
}

.logo img {
    width: 40px;
    height: 40px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #d7a45f;
}

.search {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.search input {
    background: none;
    border: none;
    color: #fff;
    outline: none;
    padding: 5px;
}

.search button {
    background: none;
    border: none;
    color: #d7a45f;
    cursor: pointer;
    font-size: 16px;
}



body {
    font-family: 'Lora', serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('https://instadelivery-public.nyc3.cdn.digitaloceanspaces.com/groups/17549157706899e3ba1349b.jpeg');
    background-size: cover;
    background-position: center;

    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}



.form-container {
    background-color: rgba(255, 240, 197, 0.93);
    padding:40px;
    width: 570px;
    border-radius: 12px;
    border: 2px solid #FFD700;
    text-align: left;

    margin-bottom: 50px; 
}

.formulario label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #050400;
    display: block;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #FFD700;
    border-radius: 8px;
    background-color: #fffdf0;
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
    font-family: 'Lora', serif;
}

.formulario input:focus,
.formulario textarea:focus {
    border-color: #ffdf94;
    background-color: #fff7e0;
}

.titulo {
    color: #050400;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 22px;
}

.btn_enviar {
    width: 100%;
    padding: 14px;
    background-color: #FFD700;
    color: #111;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.btn_enviar:hover {
    background-color: #ffdf94;
    transform: scale(1.05);
}

.resultado {
    margin-top: 12px;
    color: #000;
    font-size: 14px;
}

